<!-- Navbar -->
<nav class="navbar is-success" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" aria-label="Home" target="" href="/home-component" title="Home">
      <span class="material-icons-round">polymer</span>
      <span class="company-title">XPTO</span>
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-end navbar-menu">
    <a class="navbar-item" aria-label="Produtos" target="" href="/produtos-component" title="Produtos">
      Produtos
    </a>
    <a class="navbar-item" aria-label="Estoque" target="" href="/estoque-component" title="Estoque">
      Estoque
    </a>
  </div>

</nav>

<router-outlet></router-outlet>